/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  margin: 0px;
  background-color: #ffffff;
  color: #757575;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
}

.main-conteiner {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .menu-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .menu-button:hover .icon-cross,
  .menu-button:focus .icon-cross {
    color: #2196F3;
  }
  .menu-button:hover .icon-menu,
  .menu-button:focus .icon-menu {
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-cross {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .icon-cross {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-button.is-open .icon-cross {
    display: block;
  }
}

.icon-menu {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .icon-menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-conteiner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 420px;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-conteiner.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-header {
  height: 60px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.web {
  color: #2196F3;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

.logo {
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

.logo-decoration {
  display: inline-block;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .sitenav .item:nth-child(-n + 2) {
    margin-bottom: 40px;
  }
}

.sitenav {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .sitenav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 33px;
    left: 250px;
  }
  .sitenav .item:nth-child(-n + 2) {
    margin-right: 50px;
  }
}

.sitenav .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sitenav .link:hover, .sitenav .link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .sitenav .link {
    font-size: 18px;
    line-height: 1.2;
  }
  .sitenav .link::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background-color: #2196F3;
    height: 5px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .sitenav .link {
    font-size: 14px;
    line-height: 1.1;
  }
  .sitenav .link::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background-color: #2196F3;
    height: 5px;
    border-radius: 4px;
    bottom: -29px;
    opacity: 0;
    -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.sitenav .item .link.current::before {
  opacity: 1;
}

.sitenav .item {
  position: relative;
}

.contact {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 20px;
    right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: absolute;
    top: 20px;
    right: 24px;
  }
}

.links {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover, .links:focus {
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .links {
    font-size: 18px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .links {
    font-size: 12px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .links {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  .contact .item:nth-child(2n) {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contact .item:nth-child(2n) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact .item:nth-child(2n) {
    margin-left: 35px;
  }
}

.icon-mail {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .icon-mail {
    width: 16px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) {
  .icon-mail {
    width: 14px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: -20px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-mail {
    width: 16px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: -20px;
    margin-right: 8px;
  }
}

.icon-kontakt {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .icon-kontakt {
    position: absolute;
    top: 2px;
    left: -13px;
    width: 10px;
    height: 15px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) {
  .icon-kontakt {
    width: 10px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: -20px;
    margin-right: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-kontakt {
    width: 10px;
    height: 15px;
    position: absolute;
    top: 0px;
    left: -15px;
    margin-right: 6px;
  }
}

.hero {
  color: #ffffff;
  text-align: center;
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header img (1).jpg");
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header img (1).jpg");
  background-color: red;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
}

.hero .button {
  color: #ffffff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.hero .hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .hero .hero-title {
    font-size: 44px;
    line-height: 1.4;
    padding-top: 200px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 581px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  z-index: 2;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #212121;
  background-color: #ffffff;
  border: 1px solid #757575;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover, .close-modal:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.icn-svg {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

input {
  padding-left: 42px;
}

.modal-text {
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 30px;
  margin: 0px;
  width: 100%;
  height: 23px;
  color: #212121;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}

.form-corect {
  padding-left: 41px;
  padding-right: 39px;
}

.form-text {
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  text-align: start;
  display: block;
  padding-top: 12px;
}

.margin-form {
  display: block;
  margin-top: 10px;
}

.form-instruments {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-instruments {
    width: 448px;
  }
}

.form-instruments:focus {
  outline: #2196F3;
  border: 1px solid #2196F3;
}

.form-instruments:focus + .svg-form,
.form-instruments:focus + .svg-tel,
.form-instruments:focus + .svg-mail {
  fill: #2196F3;
}

.textarea {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .textarea {
    width: 448px;
  }
}

.textarea:focus {
  outline-color: #2196F3;
  border: 1px;
  border-radius: 4px;
}

.textarea:focus::-webkit-input-placeholder {
  color: #2196F3;
}

.textarea:focus:-ms-input-placeholder {
  color: #2196F3;
}

.textarea:focus::-ms-input-placeholder {
  color: #2196F3;
}

.textarea:focus::placeholder {
  color: #2196F3;
}

.textarea::-webkit-input-placeholder {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-family: roboto;
}

.textarea:-ms-input-placeholder {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-family: roboto;
}

.textarea::-ms-input-placeholder {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-family: roboto;
}

.textarea::placeholder {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  font-family: roboto;
}

.agree-radio {
  color: #757575;
}

.svg-form {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 15px;
  top: 60%;
  pointer-events: none;
}

.position-svg {
  position: relative;
}

.svg-tel {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 15px;
  top: 60%;
  pointer-events: none;
}

.svg-mail {
  position: absolute;
  width: 15px;
  height: 12px;
  left: 15px;
  top: 60%;
  pointer-events: none;
}

.text-agree {
  font-size: 12px;
  line-height: 1.2;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .text-agree {
    font-size: 14px;
    line-height: 1.7;
    margin-left: 0;
  }
}

span.text-agree.blue {
  color: #2196F3;
  margin-left: 5px;
}

.button-modal {
  color: #ffffff;
  background-color: #2196F3;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.div-padding {
  padding-bottom: 40px;
}

.container {
  display: block;
  position: relative;
  padding-left: 9px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8.5px;
  left: 0px;
  height: 15px;
  width: 16px;
  background-color: #ffffff;
  border: 1px solid #212121;
  border-radius: 4px;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px;
}

.skills {
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .skills .item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .skills .item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .skills .item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  .skills .item:last-child {
    margin-right: 0;
  }
}

.svg {
  width: 70px;
  height: 70px;
}

.images-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F4FA;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-color {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 0px;
  margin-top: 0px;
}

.text-width {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.mobile-usWork {
  display: none;
}

@media screen and (min-width: 1200px) {
  .mobile-usWork {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .us-work {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 769px) {
  .us-work {
    padding-bottom: 60px;
  }
}

.description:not(:last-child) {
  margin-right: 30px;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.links .text-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 370px;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  bottom: 0;
  position: absolute;
}

.work-title {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

.work-title {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 60px;
}

.mobile-color {
  background-color: #F5F4FA;
}

.comand {
  padding: 0px;
  margin: 0px;
  padding-bottom: 60px;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .comand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .comand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.comand-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
}

.comand-list:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .comand-list {
    width: 450px;
  }
  .comand-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .comand-list {
    width: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .comand-list {
    width: calc((100% - 120px) / 4);
    margin: 0px;
  }
  .comand-list:not(:last-child) {
    margin-right: 30px;
  }
}

.comand .comand-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand .comand-links:hover, .comand .comand-links:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.comand .employers {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 30px;
  text-align: center;
}

.comand .job {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}

.comunity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-top: 16px;
  padding-bottom: 24px;
}

.icon-hover:hover {
  fill: #2196F3;
}

.instagram {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.twitter {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.facebook {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.comunity .child:not(:last-child) {
  margin-right: 10px;
}

.photo {
  width: 100%;
}

.us-work {
  padding-left: 15px;
  padding-right: 15px;
}

.work-title.mobile {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    margin: 0px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.clients-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  border: 1px solid #757575;
  border-radius: 8px;
  color: #757575;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .item:hover, .clients-list .item:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.first-icon {
  width: 44px;
  height: 49px;
  fill: currentColor;
}

.second-icon {
  width: 40px;
  height: 52px;
  fill: currentColor;
}

.thrie-icon {
  width: 41px;
  height: 42.6px;
  fill: currentColor;
}

.four-icon {
  width: 79.6px;
  height: 42px;
  fill: currentColor;
}

.five-icon {
  width: 59px;
  height: 47px;
  fill: currentColor;
}

.six-icon {
  width: 88.5px;
  height: 45.4px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .margin {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-top: 30px;
  }
  .margin:nth-child(2n) {
    margin-right: 0px;
  }
  .margin:nth-child(-n + 2) {
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .margin {
    width: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-top: 30px;
  }
  .margin:nth-child(3n) {
    margin-right: 0px;
  }
  .margin:nth-child(-n + 3) {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .margin {
    width: calc((100% - 150px) / 6);
  }
  .margin:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  background-color: #2F303A;
  width: 100%;
}

.decoration {
  text-decoration: none;
}

.logo-studio {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
}

.flex-address {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .flex-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .flex-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1080px) {
  .flex-address {
    margin-right: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-address {
    padding-top: 65px;
    padding-bottom: 58px;
    width: 270px;
    margin-right: 30px;
  }
}

.address .contacts {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.8;
  font-family: inherit;
  text-decoration: none;
  font-style: normal;
}

@media screen and (max-width: 1199px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.follow {
  color: #ffffff;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.comand-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  margin-top: 20px;
  padding: 0;
}

.comand-footer .st-foot:not(:last-child) {
  margin-right: 10px;
}

.hover-footer {
  color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
  background-color: #757575;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px;
  padding-top: 15px;
  padding-bottom: 9px;
}

.hover-footer:hover, .hover-footer:focus {
  background-color: #2196F3;
}

@media screen and (max-width: 1199px) {
  .flex-links {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .flex-links {
    padding-top: 72px;
    padding-bottom: 103px;
    width: 270px;
    margin-right: 30px;
  }
}

.text-footer {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 8px;
}

.mob-web {
  color: "";
}

@media screen and (max-width: 1199px) {
  .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .email {
    min-width: 570px;
    padding-top: 72px;
    padding-bottom: 94px;
  }
}

.form-mail {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 12px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .form-mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-mail {
    width: 353px;
  }
}

.button-footer {
  color: #ffffff;
  background-color: #2196F3;
  width: 200px;
  text-decoration: none;
  text-transform: inherit;
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .button-footer {
    margin-top: 0;
  }
}

.button-item {
  color: #ffffff;
  background-color: #2196F3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: inherit;
  max-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
  padding-left: 35px;
}

.button-item::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../images/airlane (1).svg");
  background-size: contain;
}

.button-container {
  padding-top: 60px;
  padding-bottom: 40px;
}

.instruments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .instruments {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.instrumens-link {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instrumens-link:hover, .instrumens-link:focus {
  color: #ffffff;
  background-color: #2196F3;
  outline: none;
}

@media screen and (max-width: 767px) {
  .instrumens-link:nth-child(-n + 4) {
    margin-left: 8px;
  }
  .instrumens-link:nth-child(-n + 2) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .instrumens-link:nth-child(-n + 4) {
    margin-left: 8px;
  }
}

.border-card {
  border: 1px solid #EEEEEE;
}

.presentation {
  position: relative;
  max-width: 450px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-left: 0px;
}

.presentation:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=main.css.map */